body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

@media screen and (max-width: 768px ) {
.campo,.but{
    display:block;
}     

}
@media screen and (max-width: 480px ) {
    .campo,.but{
        display:block;
    }   
}

@media screen and (max-width: 300px ) {
    .campo,.but{
        display:block;
    }
}
    



